<div style='width: 100%; display:flex; gap:40px;'>
  <section style='width: 33%;'>
    <C3Chart
      @data={{this.armoedeGraphData}}
      @oninit={{this.setup}}
      @title={{this.armoedeTitle}}
    />
  </section>
  <section style='width: 33%;'>
    <C3Chart
      @data={{this.geluksgevoelGraphData}}
      @title={{this.geluksgevoelTitle}}
    />
  </section><section style='width: 33%;'>
    <C3Chart @data={{this.netheidGraphData}} @title={{this.netheidTitle}} />
  </section>
</div>
