<div style='width: 100%; display:flex;  gap:40px;'>
  <section style='width: 33%;'>
    <C3Chart
      @data={{this.gemiddeldeHuurprijsGraphData}}
      @oninit={{this.setup}}
      @title={{this.gemiddeldeHuurprijsTitle}}
      @axis={{this.axis}}
    />
  </section>
  <section style='width: 33%;'>
    <C3Chart
      @data={{this.sociaalWoningsaanbodGraphData}}
      @title={{this.sociaalWoningsaanbodTitle}}
      @axis={{this.axis}}
    />
  </section><section style='width: 33%;'>
    <C3Chart
      @data={{this.mediaansprijsHuizenGraphData}}
      @title={{this.mediaansprijsHuizenTitle}}
      @axis={{this.axis}}
    />
  </section>
</div>
