{{page-title 'Details'}}

<section
  class='au-o-region-large au-u-background-gray-200'
  style='margin: 0;display:flex;'
>
  <div style='width: 33%;'>
    <C3Chart
      @data={{this.graphData1}}
      @title={{this.graphTitle1}}
      @color={{this.color}}
      @padding={{this.padding}}
    />
  </div>
  <div style='width: 33%;'>
    <C3Chart
      @data={{this.graphData2}}
      @title={{this.graphTitle2}}
      @padding={{this.padding}}
      @color={{this.color}}
    />
  </div>
  <div style='width: 33%;'>
    <C3Chart
      @data={{this.graphData3}}
      @title={{this.graphTitle3}}
      @padding={{this.padding}}
      @color={{this.color}}
    />
  </div>
</section>
<Footer />
