{{yield}}
<AuModal
  @modalOpen={{this.municipalities.showModal}}
  @closeModal={{this.municipalities.closeModal}}
>
  <:title>{{this.municipalities.modalData.title}}</:title>
  <:body>
    <div style='width: 100%; display: flex; justify-content: end; gap: 10px;'>
      <AuButton @icon='chevron-left' {{on 'click' this.nextGraph}} />
      <AuButton @icon='chevron-right' {{on 'click' this.nextGraph}} />
    </div>
    <C3Chart
      @data={{this.data}}
      @title={{this.title}}
      @padding={{this.padding}}
    />

  </:body>
  <:footer>

  </:footer>
</AuModal>
