<div style='margin-top: 30px;'>
  <AuDataTable
    @content={{this.municipality.decisions}}
    @fields='title description'
    @noDataMessage='Geen data'
    as |t|
  >
    <t.content as |c|>
      <c.header>
        <AuDataTableThSortable
          @field='title'
          @label='Categorie'
          @class='data-table__header-title'
        />
        <AuDataTableThSortable
          @field='description'
          @label='Verandering'
          @class='data-table__header-title'
        />
        <AuDataTableThSortable
          @field='description'
          @label='Datum'
          @class='data-table__header-title'
        />

      </c.header>
      <c.body as |row|>
        <td>
          {{row.category}}
        </td>
        <td>
          {{row.change}}
        </td><td>
          {{row.date}}
        </td>
      </c.body>
    </t.content>
  </AuDataTable>
</div>
{{yield}}
