<div style='margin-top: 30px;'>
  <AuDataTable
    @content={{this.municipality.decisionData}}
    @fields='title description'
    @noDataMessage='Geen data'
    as |t|
  >
    <t.content as |c|>
      <c.header>
        <AuDataTableThSortable
          @field='title'
          @label='Categorie'
          @class='data-table__header-title'
        />
        <AuDataTableThSortable
          @field='description'
          @label='Verandering'
          @class='data-table__header-title'
        />
        <AuDataTableThSortable
          @field='description'
          @label='Datum'
          @class='data-table__header-title'
        />

      </c.header>
      <c.body as |row|>
        <td>
          {{row.category}}
        </td>
        <td style='position: relative;' class="decision-container">
          <div
          class="decision-vote-dashboard"
            style='position: absolute; width: 110px; height: 32px; top: 0; right: 0; padding: 0 10px; justify-content: space-around; transform: translate(30%, -30%);'
          ><div style="border-radius: 50%; background-color: white; border: 1px solid black; box-shadow: 6px -6px #FFE615;width: 32px; height: 32px; display:flex; justify-content: center; align-items: center;"><AuIcon @icon="check"/></div><div style="border-radius: 50%; background-color: white; box-shadow: 6px -6px #003B8E;width: 32px; border: 1px solid black; height: 32px; display:flex; justify-content: center; align-items: center;"><AuIcon @icon="x"/></div></div>
          <a href={{row.document}}>
            {{row.document}}
          </a>
        </td>
        <td>
          {{row.date}}
        </td>
      </c.body>
    </t.content>
  </AuDataTable>
</div>
{{yield}}
