<div style='margin-top: 30px;'>
  <AuDataTable
    @content={{this.municipalities.data}}
    @fields='title description'
    @noDataMessage='Geen data'
    as |t|
  >
    <t.content as |c|>
      <c.header>
        <AuDataTableThSortable
          @field='title'
          @label='Gemeente'
          @class='data-table__header-title'
        />
        <AuDataTableThSortable
          @field='description'
          @label='Totale inkomsten'
          @class='data-table__header-title'
        />
        <AuDataTableThSortable
          @field='description'
          @label='Globale inkomen per inwoner'
          @class='data-table__header-title'
        /><AuDataTableThSortable
          @field='description'
          @label=''
          @class='data-table__header-title'
        />
      </c.header>
      <c.body as |row|>
        {{#if this.municipalities.query.title}}
          {{#if (eq row.title this.municipalities.query.title)}}
            <td
              style='width: 200px;'
              {{on 'click' this.municipalities.tableToggleModal}}
            >
              {{row.title}}
            </td>
            <td>
              {{row.tax.belastingreglementen}}
            </td><td>
              {{row.tax.administratieve_prestaties}}
            </td><td>
              {{row.tax.openbare_hygiene}}
            </td><td>
              {{row.tax.patrimonium}}
            </td><td>
              {{row.tax.vertoningen_en_vermakelijkheden}}
            </td><td>
              {{row.tax.ingebruikneming_van_het_openbaar_domein}}
            </td><td>
              {{row.tax.openbare_netheid}}
            </td>
          {{/if}}
        {{else}}
          <td
            style='width: 200px;'
            {{on 'click' this.municipalities.tableToggleModal}}
          >
            {{row.title}}
          </td>
          <td>
            {{row.totalRevenue}}
          </td><td>
            {{row.tax.averageRevenue}}
          </td><td>
            <AuButton>

              <LinkTo
                @route={{'municipality'}}
                @model={{row.title}}
                style='color: white;'
              >
                Meer info
              </LinkTo>
            </AuButton>
          </td>
        {{/if}}

      </c.body>
    </t.content>
  </AuDataTable>
</div>
