<div style='margin-top: 30px;'>
  <AuDataTable
    @content={{this.municipalities.data}}
    @fields='title description'
    @noDataMessage='Geen data'
    as |t|
  >
    <t.content as |c|>
      <c.header>
        <AuDataTableThSortable
          @field='title'
          @label='Gemeente'
          @class='data-table__header-title'
        />
        <AuDataTableThSortable
          @field='description'
          @label='Totale inkomsten (€)'
          @class='data-table__header-title'
        />
        <AuDataTableThSortable
          @field='description'
          @label='Globale inkomen per inwoner (€)'
          @class='data-table__header-title'
        /><AuDataTableThSortable
          @field='description'
          @label=''
          @class='data-table__header-title'
        />
      </c.header>
      <c.body as |row|>
        {{#if this.municipalities.query.title}}
          {{#if (eq row.title this.municipalities.query.title)}}
            <td
              style='width: 200px;'
              {{on 'click' this.municipalities.tableToggleModal}}
            >
              {{row.title}}
            </td>
            <td>
              {{format-currency row.taxData.1.totalRevenue}}
            </td><td>
              {{format-currency row.taxData.1.averageRevenue}}
            </td><td>
              <AuButton @icon='unordered-list' @iconAlignment='right'>
                <LinkTo
                  @route={{'municipality.info'}}
                  @model={{row.title}}
                  style='color: white;'
                >
                  Meer info
                </LinkTo>
              </AuButton>
            </td>
          {{/if}}
        {{else}}
          <td
            style='width: 200px;'
            {{on 'click' this.municipalities.tableToggleModal}}
          >
            {{row.title}}
          </td>
          <td>
            {{format-currency row.taxData.1.totalRevenue}}
          </td><td>
            {{format-currency row.taxData.1.averageRevenue}}
          </td><td>
            <AuButton @icon='unordered-list' @iconAlignment='right'>
              <LinkTo
                @model={{row.title}}
                @route={{'municipality.info'}}
                style='color: white;'
              >
                Meer info
              </LinkTo>
            </AuButton>
          </td>
        {{/if}}
      </c.body>
    </t.content>
  </AuDataTable>
</div>
