<div style='margin-top: 30px;'>
  <AuDataTable
    @content={{this.municipalities.data}}
    @fields='title description'
    @noDataMessage='Geen data'
    @sort={{this.sort}}
    as |t|
  >
    <t.content as |c|>
      <c.header>
        <AuDataTableThSortable
          @field='title'
          @currentSorting={{this.sort}}
          @label='Gemeente'
          @class='data-table__header-title'
        />
        <AuDataTableThSortable
          @field='description'
          @currentSorting={{this.sort}}
          @label='Tax'
          @class='data-table__header-title'
        />

      </c.header>
      <c.body as |row|>
        {{#each this.dataset.data as |item|}}
          <td {{on 'click' this.municipalities.toggleModal}}>{{item.title}}</td>
          <td>{{item.title}}</td>
        {{/each}}
        {{#if this.municipalities.query.title}}
          {{#if (eq row.title this.municipalities.query.title)}}
            <td {{on 'click' this.municipalities.toggleModal}}>
              {{row.title}}
            </td>
            <td>
              {{row.tax}}
            </td>
          {{/if}}
        {{else}}
          <td {{on 'click' this.municipalities.toggleModal}}>
            {{row.title}}
          </td>
          <td>
            {{row.tax}}
          </td>
        {{/if}}

      </c.body>
    </t.content>
  </AuDataTable>
</div>
