{{page-title 'Details'}}

<section
  class='au-o-region-large au-u-background-gray-200'
  style='margin: 0;display:flex;'
>
  <div style='width: 33%;'>
    <C3Chart
      @data={{this.graphData1}}
      @title={{this.graphTitle1}}
      @color={{this.municipalities.color}}
      @padding={{this.padding}}
      @axis={{this.axis}}
      @oninit={{this.setup}}
    />
  </div>
  <div style='width: 33%;'>
    <C3Chart
      @data={{this.graphData2}}
      @title={{this.graphTitle2}}
      @padding={{this.padding}}
      @color={{this.municipalities.color}}
    />
  </div>
  <div style='width: 33%;'>
    <C3Chart
      @data={{this.graphData3}}
      @title={{this.graphTitle3}}
      @padding={{this.padding}}
      @color={{this.municipalities.color}}
      @axis={{this.axis}}
    />
    <p>{{this.thuiswerken}}</p>
  </div>
  <select onchange={{action 'handleSelect' value='target.value'}}>
    <option value=''>Selecteer een gemeente</option>
    {{#each this.infoTypes as |infoType|}}
      <option value={{infoType}}>{{infoType}}</option>
    {{/each}}
  </select>
  <div>
    {{outlet}}
  </div>
</section>
<Footer />
