<Navbar />
<AuToolbar class='au-o-box' as |Group|>
  <Group>
    <AuHeading @skin='2'>
      {{this.model}}
    </AuHeading>

  </Group>
  <Group class='au-c-toolbar__group--center'>
    <PowerSelect
      style='width: 200px; height: 38px; '
      @options={{this.municipalities.options}}
      @selected={{this.municipalities.query}}
      @searchEnabled={{true}}
      @search={{this.municipalities.searchRepo}}
      @loadingMessage='Aan het laden...'
      @allowClear={{true}}
      @placeholder='Zottegem'
      @noMatchesMessage='Geen resultaten'
      @onChange={{fn (mut this.municipalities.query)}}
      as |municipality|
    >
      {{municipality.title}}
    </PowerSelect>
  </Group>
</AuToolbar>
<h1>info about {{this.model}}</h1>
<Details />
{{!-- {{outlet}} --}}
