{{page-title 'Decisions'}}
<AuToolbar class='au-o-box' as |Group|>
  <Group>
    <ul class='au-c-list-horizontal au-c-list-horizontal--small'>
      <li class='au-c-list-horizontal__item'>
        <AuLink @linkRoute='index.dashboard' @icon='arrow-left'>
          Dashboard
        </AuLink>
      </li>
      <li class='au-c-list-horizontal__item'>
        Alle Besluiten
      </li>
    </ul>
  </Group>
  <Group class='au-c-toolbar__group--center'>
    <AuInput
      @placeholder='Gasprijzen'
      aria-placeholder='Gasprijzen'
      style='position: relative;'
      @value={{this.searchQuery}}
    />
    <AuButton
      style='display: flex; justify-content:center; align-items:center; height:35px;'
      onclick={{action 'getSearchPredictionVectors'}}
    >
      {{#if this.loading}}
        <AuLoader @size='small' />
      {{else}}
        <AuIcon @icon='search' @size='large' />
      {{/if}}
    </AuButton>
  </Group>
</AuToolbar>
<div
  style='width:full; display:flex; gap:8px; justify-content:end; margin-right:16px;'
>
  {{#each this.savedSearchThemes as |theme|}}
    <AuPill @hideText={{false}} @size='regular'>{{theme}}</AuPill>
  {{/each}}
</div>
<div style='margin-top: 30px;'>
  {{#if this.loading}}
    <AuLoader @size='extra-large' />
  {{else}}
    <AuDataTable
      @content={{this.decisionData}}
      @fields='title description'
      @noDataMessage='Geen data'
      as |t|
    >
      <t.content as |c|>
        <c.header>
          <AuDataTableThSortable
            @field='name'
            @label='Titel'
            @class='data-table__header-title'
          />
          <AuDataTableThSortable
            @field='body'
            @label='Zie besluit'
            @class='data-table__header-title'
          />
        </c.header>
        <c.body as |row|>
          <td style='display: flex; align-items:center;'>
            {{#if row.accepted}}
              <div
                style='border-radius: 100%; width:10px; height:10px; background-color:green; margin-right: 5px;'
              ></div>
            {{else}}
              <div
                style='border-radius: 100%; width:10px; height:10px; background-color:red; margin-right: 5px;'
              ></div>
            {{/if}}
            {{row.name}}
          </td>
          <td>
            {{!-- <AuLink
              @model={{row._id}}
              @route={{'index.municipality.decision'}}
              @icon='chevron-right'
            > --}}
            Bekijk besluit
            {{! </AuLink> }}
          </td>

        </c.body>
      </t.content>
    </AuDataTable>
  {{/if}}
</div>
