<div style='width: 100%; display:flex;  gap:40px;'>
  <section style='width: 33%;'>
    <C3Chart
      @data={{this.participatieKleuteronderwijsGraphData}}
      @oninit={{this.setup}}
      @title={{this.participatieKleuteronderwijsTitle}}
      @axis={{this.axis}}
    />
  </section>
  <section style='width: 33%;'>
    <C3Chart
      @data={{this.IOLagerOnderwijsGraphData}}
      @title={{this.IOLagerOnderwijsTitle}}
      @axis={{this.axis}}
    />
  </section><section style='width: 33%;'>
    <C3Chart
      @data={{this.IOSecundairOnderwijsGraphData}}
      @title={{this.IOSecundairOnderwijsTitle}}
      @axis={{this.axis}}
    />
  </section>
</div>
