<div style='width: 100%; display:flex;  gap:40px;'>
  <section style='width: 33%;'>
    <C3Chart
      @data={{this.activiteitsGraphData}}
      @oninit={{this.setup}}
      @title={{this.activiteitsgraadTitle}}
      @axis={{this.axis}}
    />
  </section>
  <section style='width: 33%;'>
    <C3Chart
      @data={{this.deeltijdswerkenGraphData}}
      @title={{this.deeltijdswerkenTitle}}
      @axis={{this.axis}}
    />
  </section><section style='width: 33%;'>
    <C3Chart
      @data={{this.niet_werkende_werkzoekendenGraphData}}
      @title={{this.niet_werkende_werkzoekendenTitle}}
      @axis={{this.axis}}
    />
  </section>
</div>
