<AuToaster @position='top' />
<AuApp>
  <div
    style='display: flex; justify-content:center; align-items:center; flex-direction:column; gap:20px; padding: 20px;'
  >

    <PowerSelect
      style='width: 200px; height: 38px; '
      @options={{this.options}}
      @selected={{this.query}}
      @searchEnabled={{true}}
      @search={{this.searchRepo}}
      @loadingMessage='Aan het laden...'
      @allowClear={{true}}
      @placeholder='Zottegem'
      @noMatchesMessage='Geen resultaten'
      @onChange={{fn (mut this.query)}}
      as |municipality|
    >
      {{municipality.title}}
    </PowerSelect>
    <AuInput @value={{this.category}} />
    <AuInput @value={{this.name}} />
    <AuInput @value={{this.begin}} />
    <AuInput @value={{this.end}} />
    <AuInput @value={{this.aanwezig}} />
    <AuInput @value={{this.juridische_grond}} />
    <AuInput @value={{this.context-en-argumentatie}} />
    <AuInput @value={{this.besluit}} />
    <AuInput @value={{this.for}} />
    <AuInput @value={{this.against}} />
    <AuInput @value={{this.neutral}} />
    <AuToggleSwitch
      @label='Nu actief'
      @name='accepted'
      @checked={{this.accepted}}
      @onChange={{this.toggleAccepted}}
    />
    <AuButton {{action 'submitDecision'}}>Submit</AuButton>
  </div>
  {{! </AuContainer> }}
</AuApp>
